*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: teal;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

ul li {
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}